Importe as bibliotecas que você irá utilizar para todas as questões

In [9]:
# Importação de bibliotecas gerais
import pandas as pd
import numpy as np

**Questão 1:**

Crie uma função genérica para retornar os números pares de um array.

In [10]:
def numeros_pares(array):
    return [n for n in array if n % 2 == 0]

numeros = [1, 2, 3, 4, 5, 6]
print(numeros_pares(numeros))  # [2, 4, 6]

[2, 4, 6]

**Questão 2:**

Crie o dataframe abaixo, filtre quem possui mais de 25 anos e tire a média dos salários

![image.png]()

In [11]:
import pandas as pd

# Cria o DataFrame
dados = {
    'nome': ['Ana', 'Bruno', 'Carlos', 'Daniela', 'Eduardo'],
    'idade': [23, 29, 35, 27, 22],
    'salario': [2500, 4200, 5300, 3100, 2000]
}

df = pd.DataFrame(dados)

# Filtra quem possui mais de 25 anos
filtro = df[df['idade'] > 25]

# Calcula a média dos salários
media_salarios = filtro['salario'].mean()

print("Funcionários com mais de 25 anos:")
print(filtro)
print("\nMédia dos salários:", media_salarios)

Funcionários com mais de 25 anos:
      nome  idade  salario
1    Bruno     29     4200
2   Carlos     35     5300
3  Daniela     27     3100

Média dos salários: 4200.0

**Questão 3:**

Escreva um programa em Python que, dado um número n, imprima uma pirâmide numérica com n linhas.

In [12]:

n = int(input("Digite o número de linhas: "))

# Gera a pirâmide
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end='')
    print()  # Quebra de linha

Digite o número de linhas: 6
1
12
123
1234
12345
123456

**questão 4:**

Crie uma função que eu passe um CEP e me retorne a rua, bairro e cidade.

Dica - utilize: viacep.com.br/ws/01001000/json/

In [13]:
import requests  # biblioteca para fazer requisições HTTP

def buscar_endereco(cep):
    url = f"https://viacep.com.br/ws/{cep}/json/"
    resposta = requests.get(url)

    if resposta.status_code == 200:
        dados = resposta.json()
        rua = dados.get('logradouro', 'Não encontrado')
        bairro = dados.get('bairro', 'Não encontrado')
        cidade = dados.get('localidade', 'Não encontrado')
        return rua, bairro, cidade
    else:
        return None, None, None

# Exemplo de uso
cep = "01001000"
rua, bairro, cidade = buscar_endereco(cep)

print(f"CEP: {cep}")
print(f"Rua: {rua}")
print(f"Bairro: {bairro}")
print(f"Cidade: {cidade}")

CEP: 01001000
Rua: Praça da Sé
Bairro: Sé
Cidade: São Paulo